<div class="card">
  <h2>Developer Profile</h2>
  <p><strong>ID:</strong> {{ developerId }}</p>
  <p><strong>Name:</strong> {{ developerName }}</p>

  <h3>Tasks</h3>
  <ul>
    <li *ngFor="let task of tasks">
      <strong>{{ task.title }}</strong> – {{ task.performance }}

    </li>
  </ul>
</div>
<!-- <div class="card" *ngIf="performance">
  <h2>Developer Performance</h2>

  <p><strong>Developer Name:</strong> {{ performance.userName }}</p>

  <h3>Task Info</h3>
  <p><strong>Title:</strong> {{ performance.title }}</p>
  <p><strong>Description:</strong> {{ performance.taskDescription }}</p>
  <p><strong>Score:</strong> {{ performance.taskScore }}</p>
  <p><strong>Status:</strong> {{ performance.status }}</p>
  <p><strong>Created At:</strong> {{ performance.createdAt | date }}</p>
  <p><strong>Deadline:</strong> {{ performance.deadline | date }}</p>

  <h3>Review</h3>
  <p><strong>Bugs:</strong> {{ performance.bugs }}</p>
  <p><strong>Code Smells:</strong> {{ performance.codesmells }}</p>
  <p><strong>Review Date:</strong> {{ performance.reviewDate | date }}</p>
  <p><strong>Developer Score:</strong> {{ performance.developerScore }}</p>
  <p><strong>Feedback:</strong> {{ performance.feedback }}</p>
  <p><strong>Suggestions:</strong> {{ performance.suggestions }}</p>
</div> -->
