<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="form-card p-5 rounded-4 shadow-lg text-center" style="width: 100%; max-width: 500px;">
    <h3 class="form-title mb-4">Review Your Code</h3>
    <p class="subtitle mb-4">
      Fill in your GitHub details and press the button to get feedback
    </p>

   
    <form (ngSubmit)="Review()" #reviewForm="ngForm" *ngIf="!showDetails">
    
      <div class="mb-3 text-start">
        <label class="form-label">Workspace</label>
        <input
          type="text"
          class="form-control"
          [value]="workspace?.name || 'N/A'"
          disabled
        />
      </div>

     
      <div class="mb-3 text-start">
        <label class="form-label">Choose Task</label>
        <select
          class="form-control"
          [(ngModel)]="taskId"
          name="taskId"
          required
        >
          <option value="" disabled selected>Select a task</option>
          <option *ngFor="let task of tasks" [value]="task.id">
            {{ task.description }}
          </option>
        </select>
      </div>

      <button
        class="btn btn-submit w-100"
        type="submit"
        [disabled]="loading || !reviewForm.form.valid"
      >
Need a second pair of eyes on your code?
      </button>

      <div class="mt-3" *ngIf="loading">Loading review...</div>
      <div class="text-danger mt-2" *ngIf="error">{{ error }}</div>
    </form>

 
    <div class="details mt-4" *ngIf="showDetails && reviewresult">
      <div class="detail-card mb-3">
        <h4>Score</h4>
        <p>{{ reviewresult.score }}</p>
      </div>
      <div class="detail-card mb-3">
        <h4>Feedback</h4>
        <p>{{ reviewresult.feedback }}</p>
      </div>
      <div class="detail-card mb-3">
        <h4>Suggestions</h4>
        <p>{{ reviewresult.suggestion }}</p>
      </div>

      <button class="btn btn-secondary mt-3" (click)="toggleDetails()">
        🔄 New Review
      </button>
    </div>
  </div>
</div>
