/* الخلفية الثابتة */
.full-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://t4.ftcdn.net/jpg/07/05/56/21/240_F_705562152_WFSrWPNw6TqrxQ3MJzWzaZ1oeH3jLtUu.jpg")
    no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.no-bg-page .full-bg,
.no-bg-page .overlay {
  display: none !important;
}

/* طبقة لونية فوق الخلفية */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 63, 103, 0.6); /* كحلي شفاف */
  z-index: 1;
  
}

/* طبقة gradient animation شفافة */
.gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e7eaf6, #f6f9fc, #ffffff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  opacity: 0.25; /* شفافية */
  z-index: 1.5;
}

/* محتوى الموقع فوق الطبقات */
.content {
  position: relative;
  z-index: 2;
}

/* أنيميشن للـ gradient */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
:host {
  display: block;
  height: 100vh;
  width: 100%;
}
