body {
  margin: 0; /* نشيل margin-top */
  font-family: "Poppins", sans-serif;
}

.text-fourth {
  color: #113f67;
}

.btn-third {
  background: #38598b;
  color: #fff;
  border-radius: 8px;
}

.btn-third:hover {
  background: #113f67;
  color: #fff;
}

/* الخلفية الكاملة */
.full-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://t4.ftcdn.net/jpg/07/05/56/21/240_F_705562152_WFSrWPNw6TqrxQ3MJzWzaZ1oeH3jLtUu.jpg")
    no-repeat center center;
  background-size: cover;
  background-color: #e7eaf6; /* fallback */
  z-index: 0;
}

/* الطبقة الشفافة */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 63, 103, 0.6);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

/* الكارت الرئيسي */
.main-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* input bar */
.input-create-bar {
  position: absolute;
  top: 80px; /* بدل 20px علشان تبعد تحت الـ Navbar */
  right: 20px;
  display: flex;
  gap: 6px;
  z-index: 1055; /* أعلى من default z-index بتاع Bootstrap navbar (اللي هو غالبًا 1030) */
}

.custom-input {
  width: 180px;
  border-radius: 8px;
}
