<div class="sidebar bg-dark vh-100 p-3 top-0 start-0">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a
        routerLink="/home"
        routerLinkActive="active fw-semibold"
        class="nav-link text-white fs-5"
        >Home</a
      >
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="/tasks"
        routerLinkActive="active fw-semibold"
        class="nav-link text-white fs-5"
        >Tasks</a
      >
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="/login"
        routerLinkActive="active fw-semibold"
        class="nav-link text-white fs-5"
        >Login</a
      >
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="register"
        routerLinkActive="active fw-semibold"
        class="nav-link text-white fs-5"
        >Register</a
      >
    </li>
  </ul>
</div>
